.DailyList{
    color: white;
    position: fixed;
    z-index: 3;
    left: 100px;
    top:  300px;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    display: table-column;
}

.Recipe{
    color: black;
    background: #fff;
    border: 1px  #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}
