.DailyList{
    position: relative;
    left: 100px;
    display: flex;
}

.RecipeItem {
    display: absolute;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background-color: lemonchiffon;
}

.RecipeItem:hover {
    display: absolute;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background-color: white;
}

.RecipeTitle {
    /* right: 150px;
    top: 250px; */
    position: relative;
    color: orange;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

.ListTitle {
    z-index: 1;
    left: -130%;
    top: -200px;
    position: relative;
    color: lemonchiffon;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-shadow: 0 0 3px #FF0000, 0 0 5px orange;
}

.List {
    width: 50%;
  }


.BasicList {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    left: -130%;
    top: -80%;
    height: 500px;
    width: 400px;
    overflow-y: auto;
  }

.Recipe{
    color: black;
    background: #fff;
    border: 1px  #999;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.MyListBlock {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    right: 100px;
    top: 150px;
    height: 300px;
    width: 300px;
    background-color: lemonchiffon;
    color: orange;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 250px;
}

.MyListBlock:hover {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    right: 100px;
    top: 150px;
    height: 300px;
    width: 300px;
    background-color: white;
    color: orange;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 250px;
}



.UploadBlock {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    right: 500px;
    top: 150px;
    height: 300px;
    width: 300px;
    background-color: lemonchiffon;
    color: orange;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 250px;
}

.UploadBlock:hover {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    right: 500px;
    top: 150px;
    height: 300px;
    width: 300px;
    background-color: white;
    color: orange;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 250px;
}


.RecommendationBlock {
    box-shadow: 5px 10px 20px black;
    border-radius: 15px;
    position: absolute;
    right: 100px;
    bottom: 40px;
    height: 250px;
    width: 700px;
    background-color: lemonchiffon;
    color: black;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    /* white-space: pre-wrap; */
}

.RecommendationTitle {    
    position: absolute;
    top: 10px;
    left: 5px;
    width: 700px;
    color: orange;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    word-break: break-word;
}

.RecommendationContent {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 400px;
    height: 180px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    word-break: break-word;
    line-height: 1.6em;
    overflow: hidden;
}

.RecommendationThumbnail img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    right: 10px;
    width: 200px;
    height: 160px;
  }
  
  .RecommendationThumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.RecommendationTitle {
    right: 200px;
    bottom: 100px;
    position: relative;
    text-align: center;
}
.Logout button{
    left:120px;
    top:120px;
    position:absolute;
    height:40px;
    width: 240px;
    background-color:lemonchiffon;
    padding: 4px 0;
    border-radius: 3px;
    font-family: 'Roboto'; 
	text-align: center;
  	text-transform: uppercase;
    color:black;
    user-select: none;
}