.recipe_name{
    left: 150px;
    top: 100px;
    position: absolute;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 55px;
}

.descriptionBlock{
    position: absolute;
    left: 150px;
    top: 300px;
    height: 600px;
    width: 590px;
    background-color: lemonchiffon;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.description_content{
    left:60px;
    top: 70px;
    height: 400px;
    width:500px;
    position: absolute;
    color:black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: large;
    text-align: justify;
    line-height: 25px;
}
.ingredient_content{
    left:60px;
    top: 20px;
    height: 50px;
    width:500px;
    position: absolute;
    color:black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: large;
    text-align: justify;
    line-height: 25px;
}
.recipe_calories{
    left:350px;
    top:215px;
    position:absolute;
    color:red;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size:x-large;
}
.category_content{
    left: 150px;
    top:215px;
    position:absolute;
    color:brown;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: x-large;
}
.picture img{
    display: block;
    right: 100px;
    top: 150px;
    position:absolute;
    height: 450px;
    width: 600px
}
.LikeButton{
    right:420px;
    top:640px;
    position:absolute;
    height:40px;
    width: 240px;
    background-color:rgb(252, 239, 239);
    padding: 4px 0;
    border-radius: 3px;
    font-family: 'Roboto'; 
	text-align: center;
  	text-transform: uppercase;
    color:black;
    user-select: none;
}
.LikedButton{
    right:420px;
    top:640px;
    position:absolute;
    height:40px;
    width: 240px;
    background-color:rgb(252, 216, 216);
    padding: 4px 0;
    border-radius: 3px;
    font-family: 'Roboto'; 
	text-align: center;
  	text-transform: uppercase;
    color:black;
    user-select: none;
}
.FavoriteButton{
    right:140px;
    top:640px;
    position:absolute;
    height:40px;
    width: 240px;
    background-color: rgb(250, 238, 133);
    padding: 4px 0;
    border-radius: 3px;
    font-family: 'Roboto'; 
	text-align: center;
  	text-transform: uppercase;
    color: black;
    user-select: none;
}
.FavoritedButton{
    right:140px;
    top:640px;
    position:absolute;
    height:40px;
    width: 240px;
    background-color: rgb(252, 232, 52);
    padding: 4px 0;
    border-radius: 3px;
    font-family: 'Roboto'; 
	text-align: center;
  	text-transform: uppercase;
    color: black;
    user-select: none;
}
